{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Granja Sustentable</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <h5 class="card-header">Posteo</h5>
            <div class="card-body">
                {{post_form.as_p}}
            </div>
            <button type="submit">Guardar</button>
            <a href="{% url 'crear_post' %}">Cancelar</a>

        </div>

    </form>
</body>
</html>