<!DOCTYPE html>
<html>
<body>
    <style>
        #secciones {
            margin:0px;
            padding: 0px;
            list-style: none;
            text-transform: capitalize;
        }
        #secciones li {
            display: inline;
            margin: 0 30px;

        }
    </style>

    <nav>
        <ul id="secciones">
            <button class="btn btn-default">Home</button>
            <li>Quienes somos</li>
            <li>Proyectos</li>
            <li>Servicios</li>
            <li>Publicaciones</li>
            <li>Areas de estudio</li>
            <li>Otro</li>
        </ul>
    </nav>
</body>
</html>