<!DOCTYPE html>
<html>
<body>
 <!– Desde Aqui: Cuando se creen las hojas de estilos –>
    <style>
        #secciones {
            margin:0px;
            padding: 0px;
            list-style: none;
            text-transform: capitalize;
        }
        #secciones li {
            display: inline;
            margin: 0 30px;

        }
    </style>
<!– Hasta Aqui: Cuando se creen las hojas de estilos –>


    <nav class="menu">
        <ul id="secciones">
            <li><a href="/">Inicio</a></li>
            <li><a href="/quienes-somos">Quienes somos</a></li>
            <li><a href="/proyectos">Proyectos</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/publicaciones">Publicaciones</a></li>
            <li><a href="/areas-de-estudio">Areas de estudio</a></li>
        </ul>
    </nav>
</body>
</html>