{% extends "plantilla2.html" %}

{% load static %}

{% block title %} Noticias {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<h1 class="text-primary text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			</font><font style="vertical-align: inherit;">Publicaciones
		</font></font></h1>
		<h3 class="text-center text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			</font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Reserva Educativa Experimental y Granja Autosustentable</font></font></strong> 
		</h3>
		<p class="text-right text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
		</font></font><strong><a target="_blank" href="https://www.instagram.com/kchito2028/">Instagram</a><font style="vertical-align: inherit;"> / <font style="vertical-align: inherit;"><a target="_blank" href="https://www.facebook.com/profile.php?id=100063478005717&mibextid=ZbWKwL">Facebook</a></font></font></strong> 
	</p>
	
		
		<div class="carousel slide" id="carousel-693121">
			<ol class="carousel-indicators">
				<li data-slide-to="0" data-target="#carousel-693121" class="active">
				</li>
				<li data-slide-to="1" data-target="#carousel-693121">
				</li>
				<li data-slide-to="2" data-target="#carousel-693121">
				</li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" alt="Carrusel Bootstrap primero" src="{% static 'img/senderos/img23.jpg' %}" height="550">
					<div class="carousel-caption">
						<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
						" haz de tu vida un sueño y de tu sueño una realidad"
						</font></font></h4>
						<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
							"Antoine de Saint-Exupéry"</font><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"> 
						</font></font></p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" alt="Carrusel Bootstrap Segundo" src="{% static 'img/senderos/img5.jpg' %}">
					<div class="carousel-caption">
						<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
							Senderos
						</font></font></h4>
						<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
							El monte da sin pedir, el monstruo pide sin dar, con el cañón, con el fiscal♪</font><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;">
						</font></font></p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" alt="Carrusel Bootstrap Tercero" src="{% static 'img/senderos/img4.jpg' %}">
					<div class="carousel-caption">
						<h4>
						<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
							Educación y Experimentación
						</font></font></h4>
						<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
							"Enseñar no es transferir conocimiento, es crear la posibilidad de producirlo"
							</font><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"> "Pablo Freire"
						</font></font></p>
					</div>
				</div>
			</div> <a class="carousel-control-prev" href="#carousel-693121" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Anterior</font></font></span></a> <a class="carousel-control-next" href="#carousel-693121" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">del mes próximo</font></font></span></a>
		</div>
	</div>
</div>
  </body>
</html>


{% endblock %}